<%= render "shared/header" %>

<div class="main-container">
  <div class="main wrapper clearfix">

    <article>
      <header>
        <h1>Ruby Türkiye Topluluğu</h1>
        <p></p>
      </header>
      <section>
        <h2>Hakkımızda sayfası güncellenmiştir.</h2>
        <p>Topluluğumuz üyelerini bulabileceğiniz sayfamız güncellenmiş olup, <a href="/people">buradan</a> erişebilirsiniz.</p>
      </section>
      <section>
        <h2>Ruby Türkiye Sitesi Yayında</h2>
        <p>Ruby Türkiye topluluğu olarak sitemiz yayına girmiş bulunmaktadır. Uzun süredir yayına almak istediğimiz bu site, soğuk bir kış akşamı sıcak bir muhabbet ortamı yakaladığımız IRC kanalında
          bir anda hayata geçmeye başlamış ve çok kısa bir süre içinde tamamlanmıştır :) </p>

        <p>Bu site tamamen GitHub üzerinde geliştirilmektedir. Eklemek istediğiniz birşey veya önerileriniz varsa <a href="https://github.com/rubytr/ruby-tr">GitHub adresimiz.</a> </p>
      </section>

    </article>

    <aside>
      <h3>Ruby Türkiye nedir?</h3>
      <p>Türkiye'deki Ruby programcıları ve Ruby severler
        topluluğudur. Ruby ile program yazan ve ilgilenen herkese
        kapımız açıktır.</p>

      <h3>Nasıl iletişim kurabilirim?</h3>
      <p>
      <ul>
        <li><p>#ruby-tr (IRC/freenode) </p></li>
        <li><p>Ruby Türkiye google grubu</p></li>
      </ul>
      </p>

      <h3>Nasıl yardım alabilirim?</h3>
      <p>
        IRC kanalımızda veya google grubumuzda sorularınızı paylaşabilirsiniz.
      </p>

      <center>
        <a class="button"
           href="https://groups.google.com/forum/#!forum/ruby-tr">
          Listemize kaydolun!
        </a>
      </center>
    </aside>

  </div> <!-- #main -->
</div> <!-- #main-container -->

<%= render 'shared/footer' %>