<%= render "shared/header" %>

<div class="main-container">
  <div class="main wrapper clearfix">
    <div class="index">
      <article>
        <header>
          <h1>Hakkımızda sayfası güncellenmiştir</h1>
        </header>
        <section>
          Topluluğumuz üyelerini bulabileceğiniz sayfamız güncellenmiş olup, <a href="/people">buradan</a> erişebilirsiniz.
        </section>
      </article>

      <article>
        <header>
          <h1>Ruby Türkiye Sitesi Yayında</h1>
        </header>
        <section>
        <p>Ruby Türkiye topluluğu olarak sitemiz yayına girmiş bulunmaktadır. Uzun süredir yayına almak istediğimiz bu site, soğuk bir kış akşamı sıcak bir muhabbet ortamı yakaladığımız IRC kanalında
        bir anda hayata geçmeye başlamış ve çok kısa bir süre içinde tamamlanmıştır :) </p>

        <p>Bu site tamamen GitHub üzerinde geliştirilmektedir. Eklemek istediğiniz birşey veya önerileriniz varsa <a href="https://github.com/rubytr/ruby-tr">GitHub adresimiz.</a> </p>
        </section>
      </article>
    </div>

    <aside>
      <h3>Ruby Türkiye nedir?</h3>
      Türkiye'deki Ruby programcıları ve Ruby severler
      topluluğudur. Ruby ile program yazan ve ilgilenen herkese
      kapımız açıktır.

      <h3>Nasıl iletişim kurabilirim?</h3>
      <ul>
        <li>#ruby-tr (IRC/freenode)</li>
        <li>Ruby Türkiye google grubu</li>
      </ul>

      <h3>Nasıl yardım alabilirim?</h3>
      IRC kanalımızda veya mail listemizde sorularınızı paylaşabilirsiniz.

      <center>
        <a class="button" href="https://groups.google.com/forum/#!forum/ruby-tr">Mail Listemize Kaydolun!</a>
      </center>
    </aside>

  </div> <!-- #main -->
</div> <!-- #main-container -->

<%= render 'shared/footer' %>
