<div class="container">
  <div class="row gutter-20-xs gutter-out-xs center-lg">
    <div class="xs-1 left-lg">
      <div class="page-header">
        <h2>Topluluk (<%= @people.count %>)</h2>
      </div>
    </div>
    <div class="lg-12-3">
      <%= link_to new_person_path, class: "btn" do %>
        <i class="fa fa-plus-square"></i> Yeni Kişi Ekle
      <% end %>
      <br/>
    </div>
  </div>
  <div class="row gutter-20-xs gutter-out-xs center-lg">
    <div class="xs-1">
      <div class="row gutter-10-xs center-lg">
        <%= render @people %>
      </div>
    </div>
  </div>
</div>
