<div class="wrap">
  <div class="list-item">
    <div class="col">
      <h3>
        <a href="/jobs/<%= job.id %>"><%= job.title %></a>
      </h3>
      <span style="display: block"><%= job.company %></span>
    </div>
  </div>
</div>