<div class="container">
  <div class="row gutter-20-xs gutter-out-xs center-lg">
    <div class="xs-1 left-lg">
      <div class="page-header">
        <h2>Topluluk (<%= @all_users %>)</h2>
      </div>
    </div>
    <div class="lg-12-3">
      <% unless current_user %>
        <%= link_to user_github_omniauth_authorize_path, class: "btn btn-github" do %>
          <i class="fa fa-github"></i> Github ile Giriş Yap
        <% end %>
      <% end %>
      <br/>
    </div>
  </div>
  <div class="row gutter-20-xs gutter-out-xs center-lg">
    <div class="xs-1">
      <div class="row gutter-10-xs center-lg">
        <%= render @users %>
      </div>
      <%= paginate @users %>
    </div>
  </div>
</div>
