<div class="header-container">
  <header class="wrapper clearfix">
    <h1 class="title">
      <a href="index.html">
        <!--<img width="50px"src="img/logo.png"> Türkiye-->
        <%= image_tag "logo.png" %> Türkiye
      </a>
    </h1>
    <nav>
      <ul>
        <li><a href="hakkimizda.html">Hakkımızda</a></li>
        <!--
        <li><a href="sunumlar.html">Sunumlar</a></li>
        <li><a href="ilanlar.html">İlanlar</a></li>
        -->
      </ul>
    </nav>
  </header>

</div>