<div class="container">
  <h1 id="logo" class="pull-left">
    <a href="/">
      <%= image_tag "logo.png" %> <span>Ruby Türkiye</span>
    </a>
  </h1>
  <nav class="pull-left">
    <ul>
      <li><a href="/people">Topluluk</a></li>
      <li><%= link_to "Mail Grubu", page_path("group") %></li>
      <li><%= link_to "#ruby-tr IRC", page_path("irc") %></li>
    </ul>
  </nav>
</div>
