<div class="content about">
	<div class="row">
		<div class="col-md-3">
			<div id="affix" data-spy="affix" data-offset-top="50">
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="#ruby-nedir">Ruby Nedir?</a>
					</li>
					<li>
						<a href="#rails-nedir">Rails Nedir?</a>
					</li>
					<li>
						<a href="#nerede-kullanilir">Kullanım Alanları?</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-9">
			<article>
				<h2 id="ruby-nedir">Ruby Nedir?</h2>
				<p>
					Ruby; dinamik, nesne tabanlı, fonksiyonel bir programlama dilidir. Daha çok web programlamada karşımıza çıkan Ruby dili, 1990'lı yılların ortasında Japon Yukhiro Matsumoto (kısaca Matz) tarafından yazılmış ve 1996'da ilk kararlı sürümü yayınlanmıştır. Perl, Smalltalk gibi dillerden esinlenen Ruby; cross-platform yani platformdan bağımsız olarak her işletim sisteminde çalışabilmektedir.

					25 Aralık 2013 itibarı ile 2.1.0 sürümü yayınlanan Ruby'nin ayrıca 1.9.x ve 2.0.0 sürümleri geliştirilmekte ve resmen desteklenmektedir.
				</p>
			</article>
			<article>
				<h2 id="rails-nedir">Rails Nedir?</h2>
				<p>
					Ruby tabanlı web çatılarının (ya da framework'lerinin) başında gelen Ruby on Rails (kısaca Rails); 2004'te ortaya çıkmıştır. 37signals'da çalışan David Heinemeier Hansson (kısaca DHH), şirketinin proje yönetimi için yazmış olduğu Basecamp uygulamasından temel (base) kodu ekstre ederek geliştirmeye başladığı Rails, bugünlerde Ruby tabanlı en çok kullanılan web çatısıdır. MVC (Model-View-Controller) tabanlı Rails; beraberinde web server, mailer, veritabanı yöneticisi, görev yöneticisi gibi bileşenlerle gelmektedir.

					3 Aralık 2013 itibarı ile 4.0.2 sürümü yayınlanan Rails'in ayrıca 3.x sürümleri halen desteklenmekte ve geliştirilmektedir.
				</p>
			</article>
			<article>
				<h2 id="nerede-kullanilir"> Kullanım Alanları?</h2>
				<p>
					Ex, aperiam, mollitia suscipit aspernatur quas reiciendis tempora alias harum dolor atque vitae architecto. Qui, delectus, provident, quod incidunt voluptatem adipisci officia dolores laudantium mollitia optio modi aspernatur magnam nesciunt possimus necessitatibus autem alias sint distinctio consequuntur odit? Rem, minus, a, natus, ipsum velit porro beatae commodi quo corporis voluptatibus eum ullam eligendi rerum eaque excepturi corrupti blanditiis eius expedita eveniet deleniti vitae tempora labore debitis sit quae cum quas aperiam aut laboriosam culpa reiciendis et quis officiis doloremque veritatis illo vel quasi recusandae magnam veniam. Veniam, officia, molestias, blanditiis libero explicabo excepturi officiis id harum odio neque animi optio quas nulla eaque accusantium veritatis unde sint magni consectetur illum rem dignissimos iste incidunt quo cupiditate maiores obcaecati impedit ullam beatae! Nobis, consequatur, inventore corrupti dolor quos dignissimos aperiam possimus veritatis accusantium molestias quisquam deserunt animi? Assumenda, neque, consequuntur sit vitae beatae placeat minima nesciunt odio molestiae iusto at temporibus aut praesentium aspernatur adipisci excepturi facere unde architecto quis itaque numquam omnis totam! Minus, enim natus corporis eligendi harum!  Incidunt, fugiat voluptatibus vitae inventore assumenda. Vitae eius mollitia cum facilis eum.
				</p>
			</article>
		</div>
	</div>
</div>
