<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Mail grubumuz ve IRC kanalımız hakkında...</h2>
        <p>
          Topluluğumuz Google mail grubuna ve IRC kanalına (#ruby-tr) artık sitemiz üzerinden ulaşabilirsiniz. Üstteki linklerden mail grubumuza ya da IRC kanalımıza kolayca erişebilirsiniz.
        </p>

        <h2>Hakkımızda sayfası güncellenmiştir</h2>
        <p>
          Topluluğumuz üyelerini bulabileceğiniz sayfamız güncellenmiş olup, <%= link_to 'buradan', people_path %> erişebilirsiniz.    
        </p>

        <h2>Ruby Türkiye Sitesi Yayında!</h2>
        <p>
          Ruby Türkiye topluluğu olarak sitemiz yayına girmiş bulunmaktadır. Uzun süredir yayına almak istediğimiz bu site, soğuk bir kış akşamı sıcak bir muhabbet ortamı yakaladığımız IRC kanalında bir anda hayata geçmeye başlamış ve çok kısa bir süre içinde tamamlanmıştır :) 
        </p>
      </div>
      <!--/ .col-md-8 -->
    </div>    
  </div>
  <!--/ .container -->
</div>
<!--/ .content -->