<div class="content">
  <div class="container">
    <h2>Ruby Türkiye Mail Grubu</h2>
    <iframe id="forum_embed" src="javascript:void(0)" scrolling="no" frameborder="0" width="100%" height="600"></iframe>
    <!-- https://support.google.com/groups/answer/1191206?hl=en --> 
  </div>
  <!--/ .container -->
</div>
<!--/ .content -->