<%= render "shared/header" %>
<div class="main-container">
	<div class="main wrapper clearfix">
	<h3>Ruby-TR google mail grubu:</h3>
		<iframe id="forum_embed"
 src="javascript:void(0)"
 scrolling="no"
 frameborder="0"
 width="960"
 height="600">
		</iframe>
	</div>
	<!-- https://support.google.com/groups/answer/1191206?hl=en --> 
</div>


<%= javascript_include_tag "googlegroups" %>

<%= render "shared/footer" %>