<%= render "shared/header" %>
<div class="main-container">
	<div class="main wrapper clearfix">
	<h3>#ruby-tr IRC kanalı:</h3>
		<iframe src="http://webchat.freenode.net?channels=%23ruby-tr" width="960" height="600"></iframe>
	</div>
</div>

<%= render "shared/footer" %>