<div class="container">
  <div class="row gutter-20-xs gutter-out-xs left-xs">
    <div class="xl-12-8 lg-12-7">
      <div class="news">
        <h2>Kaynaklar sayfası eklendi.</h2>
        <p><a href="./resources">Buradan</a> ya da üstteki menü çubuğundan erişebilirsiniz.</p>
      </div>
    </div>
    <div class="xl-12-4 lg-12-5">
      <aside>
        <h3>Ruby Türkiye nedir ?</h3>
        <p>
          Türkiye'deki Ruby programcıları ve Ruby severler topluluğudur. Ruby ile program yazan ve ilgilenen herkese kapımız açıktır.
        </p>

        <h3>Nasıl iletişim kurabilirim ?</h3>
        <ul class="connect-links">
          <li><%= link_to "#ruby-tr (IRC/freenode)", page_path("irc") %></li>
          <li><%= link_to "Ruby Türkiye google mail grubu", page_path("group") %></li>
          <li><%= link_to "Slack", "https://rubytr.slack.com" %></li>
        </ul>

        <h3>Nasıl yardım alabilirim ?</h3>
        <p>
          IRC kanalımızda veya mail listemizde sorularınızı paylaşabilirsiniz.
        </p>

        <a class="btn btn-green" href="https://groups.google.com/forum/#!forum/ruby-tr"><i class="fa fa-envelope"></i> Mail Listemize Kaydolun!</a>
      </aside>
    </div>
  </div>
</div>
