$font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Colors
$base: #585450;
$inverse: #CC342D;
$light: #FFFFFF;
$lightgray: #EAEAEA;
$copy: #555555;

$twitter: #00acee;
$github: #000000;
$red: #f00;
