@import "font-awesome";
@import "bootswatch/united/variables";
@import "bootstrap";
@import "bootswatch/united/bootswatch";
@import "config";

html, body {
  height: 100%;
}

body {
  margin: 0;
  text-size-adjust:none;
  font-smoothing: antialiased;
  -webkit-text-size-adjust:none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -80px;
  padding: 0 0 20px;

  header {
    background: $light;
    border-bottom: 20px solid $inverse;

    h1#logo {
      font-size: 30px;
      line-height: normal;
      font-weight: bold;
      float: left;
      margin: 20px 0;

      a {
        text-decoration: none;
        color: $inverse;

        img {
          margin-right: 10px;
        }
      }
    }

    nav {
      float: right;

      ul {
        list-style-type: none;

        li {
          float: left;
        }

        li > a {
          display: block;
          line-height: 90px;
          padding: 0 25px;
          background: $inverse;
          color: $light;
          margin-left: 10px;
          font-weight: bold;
          font-size: 18px;

          &:hover {
            text-decoration: none;
            color: $lightgray;

          }
        }
      }
    }
  }


  footer {
    border-top: 20px solid $inverse;
    background-color: $light;
    color: $inverse;
    height: 60px;

    p {
      margin-top: 10px;
    }
  }

}

.content {
  margin: 25px 0;

  h2 {
    line-height: normal;
    margin: 10px 0 20px 0;
  }

  p {
    font-size: 18px;
    line-height: 1.6em;
    color: $copy;
    margin-bottom: 20px;
  }

  aside {
    padding: 25px;
    background-color: $light;
    border-top: 20px solid $inverse;
    border-left: 1px solid $inverse;
    border-right: 1px solid $inverse;
    border-bottom: 1px solid $inverse;
    color: $inverse;


    h3 {
      line-height: normal;
      margin: 0 0 15px 0;
      padding: 0;
    }

    p {
      font-style: italic;
      line-height: 1.7em;
      margin-bottom: 15px;
    }

    ul {
      margin-bottom: 15px;

      li {
        margin-bottom: 5px;
      }
    }

    a {
      font-weight: bold;
      border-bottom: 1px solid $inverse;
      text-decoration: none;
    }

    .btn {
      border-bottom: none;
    }
  }

  .page-actions {
    text-align: right;
    margin-bottom: 25px;
  }

  .thumbnail {
    min-height: 280px;

    h3 {
      color: $base;
      line-height: normal;
      margin: 10px 5px;
      padding: 0;
      font-size: 18px;
    }

    .social {
      padding: 0 5px;
      margin-bottom: 10px;

      .btn-twitter {
        background-color: $twitter;
        color: $light;
      }

      .btn-github {
        background-color: $github;
        color: $light;
      }
    }
  }

  em.error {
    color: $inverse;
    display: block;
    margin-top: 10px;
  }
}
